*{
    box-sizing: border-box;
}
        .column{
            float: left;
            width: 50%;
            text-align: center;
            font-size: 2.5vw;
        }

        .columnAnimation{
            float: left;
            width: 50%;
            text-align: center;
            font-size: 1vw;
}
         .columnr{
            float: left;
            width: 50%;
            padding-left: 50px;
            height: 600px;
            font-size: 2.5vw;
            text-align: center;
        }
        
        .row:after{
            content: "";
            display: table;
            clear: both;
        }

a{
    text-decoration: none;
    color:black;
    text-transform:uppercase;
    font-family:inherit;
    display:block;
    width: 150px;
    text-align: center;
    margin: 10px;
}

.center{
    text-align: center;
}
hr{
    width: 850px;
    border-style: dashed;
    color: #34afe0;
    text-align: center;
    margin-bottom: 30px;
}

a:hover{
    color:#34afe0;
}

.top{
    text-align: center;
}

.main{
    width:50%;
    min-width: 300px;
    margin: 0 auto;
    display: block;
}

.img{
    height: 250px;
}

ul{
    list-style: none;
}

.nav{
    display:inline-block;
    align-content: center;
}

.drawings{
    text-align: center;
    
}

.otc{
    text-align: center;
}